.class {
    float: left;
}



span{
    border: 2px solid red;
    background-color: blue;
    height: 100px;
    width: 150px;
    display: inline-block;
}

body {
	height: 100%;
}

.panel {
	width: 150px;
	height: 100%;
	border: 2px solid black;
	position: fixed;
	right: 0px;
	top: 0px;
}